{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="row-fluid">
        <div class="span12">

            <div class="widget-box widget-calendar">

                <div class="widget-title">
                    <span class="icon"><i class="icon-calendar"></i></span>
                    <h5>Calendar</h5>

                    <div class="buttons">
                        <a id="add-event" data-toggle="modal" href="#modal-add-event" class="btn btn-inverse btn-mini">
                            <i class="icon-plus icon-white"></i> Add new event
                        </a>
                        <div class="modal hide" id="modal-add-event">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h3>Add a new event</h3>
                            </div>
                            <div class="modal-body">
                                {{ form(form) }}
                                <p>Enter event name:</p>
                                <p><input id="event-name" type="text"/></p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                                <a href="#" id="add-event-submit" class="btn btn-primary">Add event</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="panel-left">
                        <div id="fullcalendar"></div>
                    </div>
                    <div id="external-events" class="panel-right">
                        <div class="panel-title"><h5>Drag Events to the calander</h5></div>
                        <div class="panel-content">
                            <div class="external-event ui-draggable label label-inverse">My Event 1</div>
                            <div class="external-event ui-draggable label label-inverse">My Event 2</div>
                            <div class="external-event ui-draggable label label-inverse">My Event 3</div>
                            <div class="external-event ui-draggable label label-inverse">My Event 4</div>
                            <div class="external-event ui-draggable label label-inverse">My Event 5</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.ui.custom.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('js/maruti.js') }}"></script>
    <script src="{{ asset('js/maruti.calendar.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #F5F5F5;
            font: 18px/1.5 sans-serif;
        }

        h1, h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }

        p {
            margin: 0 0 1em 0;
        }

        a {
            color: #0000F0;
        }

        a:hover {
            text-decoration: none;
        }

        code {
            background: #F5F5F5;
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;
        }

        #wrapper {
            background: #FFF;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
        }

        #container {
            padding: 2em;
        }

        #welcome, #status {
            margin-bottom: 2em;
        }

        #welcome h1 span {
            display: block;
            font-size: 75%;
        }

        #icon-status, #icon-book {
            float: left;
            height: 64px;
            margin-right: 1em;
            margin-top: -4px;
            width: 64px;
        }

        #icon-book {
            display: none;
        }

        @media (min-width: 768px) {
            #wrapper {
                width: 80%;
                margin: 2em auto;
            }

            #icon-book {
                display: inline-block;
            }

            #status a, #next a {
                display: block;
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .sf-toolbar {
                opacity: 0;
                -webkit-animation: fade-in 1s .2s forwards;
                animation: fade-in 1s .2s forwards;
            }
        }
    </style>
{% endblock %}
