{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-refresh"></i>
                    </span>
                    <h5>My events</h5>
                </div>
                <div class="widget-content nopadding updates">
                    {% for event in events %}
                        <div class="new-update clearfix">
                            <i class="icon-ok-sign"></i>
                            <div class="update-done">
                                <a title="" href="{{ path('app_event_edit', {'id': event.id}) }}">
                                    <strong>{{ event.name }}</strong>
                                </a>
                                <span>{{ event.description }}</span>
                            </div>
                            <div class="update-date">
                                <span class="update-day">{{ event.date|date('d') }}</span>
                                {{ event.date|date('F') }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}