{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-refresh"></i>
                    </span>
                    <h5>Author: {{ event.author.username }}</h5>
                </div>

                <div class="widget-content nopadding updates">
                    <div class="new-update clearfix">
                        <i class="icon-ok-sign"></i>
                        <div class="update-done">
                            <strong>Event name:</strong><br> {{ event.name }}<br><br>
                            <strong>Description:</strong><br> <span>{{ event.description|nl2br }}<br><br></span>
                            <strong>Status:</strong><br> <span>{{ event.status.name }}<br><br></span>
                        </div>
                        <div class="update-date">
                            <span class="update-day">{{ event.date|date('d') }}</span>
                            {{ event.date|date('F') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}