<ul class="nav">
    {% if app.user %}
        <li class="">
            <a title="" href="{{ path('fos_user_profile_show') }}">
                <i class="icon icon-user"></i>
                <span class="text">{{ app.user.username }}</span>
            </a>
        </li>
        <li class="">
            <a title="" href="{{ path('app_event_my') }}">
                <i class="icon icon-user"></i>
                <span class="text">My events</span>
            </a>
        </li>
        <li class="">
            <a title="" href="{{ path('fos_user_security_logout') }}" class="noajax">
                <i class="icon icon-share-alt"></i> <span class="text">Logout</span>
            </a>
        </li>
    {% else %}
        <li class="">
            <a title="" href="{{ path('fos_user_security_login') }}">
                <i class="icon icon-user"></i>
                <span class="text">Login</span>
            </a>
        </li>
        <li class="">
            <a title="" href="{{ path('fos_user_registration_register') }}">
                <i class="icon icon-user"></i>
                <span class="text">Registration</span>
            </a>
        </li>
    {% endif %}
</ul>